
  .background-home{
    background: url('./bac2.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    
  }
  
  .background-civilizations{
    background: url('./bac11.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    
  }
  
  .background-modal{
    background: url('./bac11.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    z-index: 99996;
  }
  
  
  .img-age{ 
    position: absolute;
    top: -140px;
    width: 100%;
    height: 100%;
    background: url('./agee.png');
    background-size: cover;
    background-position: center center;
    transition: all 4s ease;
  }

  
  
  /* imagen banner ----- Tamaño mobile horizontal*/

  @media screen   
  and (min-device-height: 266px)   
  and (max-device-height: 290px)
  {
     .img-age{
         margin-top: 86px;
     }
  }

  @media screen   
  and (min-device-height: 290px)   
  and (max-device-height: 314px)
  {
     .img-age{
         margin-top: 76px;
     }
  }
  
  @media screen   
  and (min-device-height: 314px)   
  and (max-device-height: 328px)
  {
     .img-age{
         margin-top: 66px;
     }
  }

  @media screen   
  and (min-device-height: 328px)   
  and (max-device-height: 342px)
  {
     .img-age{
         margin-top: 59px;
     }
  }
  @media screen   
  and (min-device-height: 342px)   
  and (max-device-height: 360px)
  {
     .img-age{
         margin-top: 53px;
     }
  }

  @media screen   
  and (min-device-height: 360px)   
  and (max-device-height: 400px)
  {
     .img-age{
         margin-top: 45px;
     }
  }


@media screen   
  and (min-device-height: 400px)   
  and (max-device-height: 425px)
  {
     .img-age{
         margin-top: 40px;
     }
  }


@media screen   
  and (min-device-height: 425px)   
  and (max-device-height: 450px)
  {
     .img-age{
         margin-top: 35px;
     }
  }


@media screen   
  and (min-device-height: 450px)   
  and (max-device-height: 475px)
  {
     .img-age{
         margin-top: 30px;
     }
  }


@media screen   
  and (min-device-height: 475px)   
  and (max-device-height: 500px)
  {
     .img-age{
         margin-top: 25px;
     }
  }


@media screen   
  and (min-device-height: 500px)   
  and (max-device-height: 525px)
  {
     .img-age{
         margin-top: 20px;
     }
  }


@media screen   
  and (min-device-height: 525px)   
  and (max-device-height: 550px)
  {
     .img-age{
         margin-top: 15px;
     }
  }

@media screen   
  and (min-device-height: 725px)   
  and (max-device-height: 750px)
  {
     .img-age{
         margin-top: -20px;
     }
  }

@media screen   
  and (min-device-height: 750px)   
  and (max-device-height: 775px)
  {
     .img-age{
         margin-top: -25px;
     }
  }

@media screen   
  and (min-device-height: 775px)   
  and (max-device-height: 800px)
  {
     .img-age{
         margin-top: -30px;
     }
  }

  @media screen   
  and (min-device-height: 800px)   
  and (max-device-height: 825px)
  {
     .img-age{
         margin-top: -35px;
     }
  }

  @media screen   
  and (min-device-height: 825px)   
  and (max-device-height: 850px)
  {
     .img-age{
         margin-top: -40px;
     }
  }

  @media screen   
  and (min-device-height: 850px)   
  and (max-device-height: 875px)
  {
     .img-age{
         margin-top: -45px;
     }
  }

@media screen   
  and (min-device-height: 875px)   
  and (max-device-height: 900px)
  {
     .img-age{
         margin-top: -50px;
     }
  }

  @media screen   
  and (min-device-height: 900px)   
  and (max-device-height: 925px)
  {
     .img-age{
         margin-top: -55px;
     }
  }

  @media screen   
  and (min-device-height: 925px)   
  and (max-device-height: 950px)
  {
     .img-age{
         margin-top: -60px;
     }
  }

  @media screen   
  and (min-device-height: 950px)   
  and (max-device-height: 975px)
  {
     .img-age{
         margin-top: -65px;
     }
  }

  @media screen   
  and (min-device-height: 975px)   
  and (max-device-height: 1000px)
  {
     .img-age{
         margin-top: -70px;
     }
  }

  @media screen   
  and (min-device-height: 1000px)   
  and (max-device-height: 1025px)
  {
     .img-age{
         margin-top: -75px;
     }
  }

  @media screen   
  and (min-device-height: 1025px)   
  and (max-device-height: 1050px)
  {
     .img-age{
         margin-top: -80px;
     }
  }

  @media screen   
  and (min-device-height: 1050px)   
  and (max-device-height: 1075px)
  {
     .img-age{
         margin-top: -85px;
     }
  }
  
  @media screen   
  and (min-device-height: 1075px)   
  and (max-device-height: 1100px)
  {
     .img-age{
         margin-top: -90px;
     }
  }
  

  @media screen   
  and (min-device-height: 1100px)   
  and (max-device-height: 8100px)
  {
     .img-age{
         margin-top: -90px;
     }
  }

 