.position-mobil{
    margin-left: 900px;
    cursor: pointer;
}

/*----- Tamaño mobile vertical*/

@media screen   
and (min-device-width: 266px)   
and (max-device-width: 280px)
{
   .position-mobil{
       margin-left: 220px;
   }
}

@media screen   
and (min-device-width: 280px)   
and (max-device-width: 290px)
{
   .position-mobil{
       margin-left: 230px;
   }
}

@media screen   
and (min-device-width: 290px)   
and (max-device-width: 300px)
{
   .position-mobil{
       margin-left: 237px;
   }
}

@media screen   
and (min-device-width: 300px)   
and (max-device-width: 310px)
{
   .position-mobil{
       margin-left: 247px;
   }
}

@media screen   
and (min-device-width: 310px)   
and (max-device-width: 320px)
{
   .position-mobil{
       margin-left: 257px;
   }
}

@media screen   
and (min-device-width: 320px)   
and (max-device-width: 330px)
{
   .position-mobil{
       margin-left: 265px;
   }
}


@media screen   
and (min-device-width: 330px)   
and (max-device-width: 340px)
{
   .position-mobil{
       margin-left: 270px;
   }
}

@media screen   
and (min-device-width: 340px)   
and (max-device-width: 350px)
{
   .position-mobil{
       margin-left: 280px;
   }
}

@media screen   
and (min-device-width: 350px)   
and (max-device-width: 360px)
{
   .position-mobil{
       margin-left: 290px;
   }
}


/*----- Tamaño mobile horizontal*/

@media screen   
and (min-device-width: 576px)   
and (max-device-width: 600px)
{
   .position-mobil{
       margin-left: 500px;
   }
}

@media screen   
and (min-device-width: 600px)   
and (max-device-width: 615px)
{
   .position-mobil{
       margin-left: 515px;
   }
}

@media screen   
and (min-device-width: 615px)   
and (max-device-width: 630px)
{
   .position-mobil{
       margin-left: 525px;
   }
}

@media screen   
and (min-device-width: 630px)   
and (max-device-width: 645px)
{
   .position-mobil{
       margin-left: 530px;
   }
}

@media screen   
and (min-device-width: 645px)   
and (max-device-width: 660px)
{
   .position-mobil{
       margin-left: 540px;
   }
}