
.btn-civilitations{ 
  cursor: pointer;
  z-index: 888;
  transform: scale(1);
  transition: all 0.5s;
}

.btn-civilitations:hover{
  transform: scale(1.2);
}

.margin-btn-civilitations{
  height: 53px;
  margin-top: 34px;
  margin-bottom: -45px;
}

/* button mobile horizontal----------------------------------*/
  
@media screen   
and (min-device-height: 266px)   
and (max-device-height: 290px) 
{
  .margin-btn-civilitations{
    
    margin-top: 26px;
  
  }
  
}