.position{
    text-align: center;
    margin-bottom: 130px;
    height: 280px;
    -webkit-perspective: 700;

}

.carta{
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: 2s;
}

.carta:hover{
    transform: rotateY(180deg);
}

.lado{
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
}

.back{
    
    transform: rotateY(180deg);
}

.name-civilization{
    margin-top: 10px;
    font-family: 'UnifrakturCook-Bold';
    font-size: 50px;
    -webkit-text-stroke: 0.3px white;
    color:black;
    
}


.img-card-civi{
    width: 100%;
    height: 100%;
    
    -webkit-box-shadow: 10px 10px 11px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 11px -6px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 11px -6px rgba(0,0,0,0.75);
    
    
}

.button-card-back{
    margin-top: -250px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.5s;
}

.button-card-back:hover{
    transform: scale(1.1);
}

@media screen  
  and (min-device-width: 265px)  

  and (max-device-width: 314px) 
  {
     .name-civilization{
         font-size: 29px;
     }
  }

@media screen  
  and (min-device-width: 314px)  
  
  and (max-device-width: 360px)  
  
  {
     .name-civilization{
         font-size: 33px;
     }
  }  

  @media screen  
  and (min-device-width: 360px)  
  
  and (max-device-width: 426px)  
  
  {
     .name-civilization{
         font-size: 37px;
     }
  }  







@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 265px) 
  and (max-device-width: 800px)  
  and (max-device-height: 314px)
  {
    .position{
        height: 110px;
        margin-bottom: 332px;
    }

    .button-card-back{
        margin-top: -100px;
        height: 30px;
    }
    
    
    .name-civilization{
        font-size: 27px;
    }
    
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 314px) 
  and (max-device-width: 800px)  
  and (max-device-height: 650px)
  {
    .position{
        height: 120px;
        margin-bottom: 70px;
    }
    
    .button-card-back{
        margin-top: -108px;
        height: 30px;
    }

    .name-civilization{
        font-size: 30px;
    }
}

@media screen  
  and (min-device-width: 800px)  
  and (min-device-height: 314px) 
  and (max-device-width: 1000px)  
  and (max-device-height: 650px)
  {
    .position{
        height: 120px;
        margin-bottom: 70px;
    }
    
    .button-card-back{
        margin-top: -108px;
        height: 30px;
    }

    .name-civilization{
        font-size: 35px;
    }
}

@media screen  
  and (min-device-width: 800px)  
  and (min-device-height: 650px) 
  and (max-device-width: 1000px)  
  and (max-device-height: 2000px)
  {
   
    
    .button-card-back{
        margin-top: -108px;
        height: 30px;
    }

    .name-civilization{
        font-size: 35px;
    }
}
