.transformY{
  transform: scaleY(1200px);
  transition: all 4s ease;
  z-index: -88;
  
}

.perga-civilitations{
  height: 100vh;  
}





@media screen  
  and (max-device-height: 360px)  
  and (max-device-width:660px) {
    
    .PositionMobileHorizontal{
      display:none;
      
    }
    
}