.container-position{
    position: absolute;
    top: 170px;
    z-index: 666;
    
}
 
.container-cards{
    height: 390px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: scroll; 
}

@media screen  
  and (min-device-width: 265px)  
  and (min-device-height: 575px) 
  and (max-device-width: 426px)  
  and (max-device-height: 625px) 
  {
    
    .container-cards{
        height: 348px;
        
    }
    
    .container-position{
        top: 150px;
        
    }
}

@media screen  
  and (min-device-width: 265px)  
  and (min-device-height: 625px) 
  and (max-device-width: 426px)  
  and (max-device-height: 660px) 
  {
    
    .container-cards{
        height: 360px;
        
    }
    
    .container-position{
        top: 170px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 265px) 
  and (max-device-width: 1500px)  
  and (max-device-height: 302px)
  {
    
    .container-cards{
        height: 118px;
        
    }    

    .container-position{
        top: 110px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 302px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 330px)
  {
    
    .container-cards{
        height: 150px;
        
    }    

    .container-position{
        top: 110px;
        
    }
}


@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 330px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 370px)
  {
    
    .container-cards{
        height: 160px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 370px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 400px)
  {
    
    .container-cards{
        height: 190px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 400px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 430px)
  {
    
    .container-cards{
        height: 210px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 430px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 460px)
  {
    
    .container-cards{
        height: 240px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 460px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 490px)
  {
    
    .container-cards{
        height: 270px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 490px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 520px)
  {
    
    .container-cards{
        height: 300px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 520px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 550px)
  {
    
    .container-cards{
        height: 325px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 550px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 580px)
  {
    
    .container-cards{
        height: 350px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 580px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 610px)
  {
    
    .container-cards{
        height: 375px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 610px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 640px)
  {
    
    .container-cards{
        height: 400px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 640px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 670px)
  {
    
    .container-cards{
        height: 426px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 670px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 700px)
  {
    
    .container-cards{
        height: 450px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 700px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 730px)
  {
    
    .container-cards{
        height: 475px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 730px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 760px)
  {
    
    .container-cards{
        height: 500px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 760px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 790px)
  {
    
    .container-cards{
        height: 525px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 790px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 820px)
  {
    
    .container-cards{
        height: 550px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 820px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 850px)
  {
    
    .container-cards{
        height: 575px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 850px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 880px)
  {
    
    .container-cards{
        height: 600px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 880px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 910px)
  {
    
    .container-cards{
        height: 620px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 910px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 940px)
  {
    
    .container-cards{
        height: 640px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 940px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 970px)
  {
    
    .container-cards{
        height: 660px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 970px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 1000px)
  {
    
    .container-cards{
        height: 680px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 1000px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 1030px)
  {
    
    .container-cards{
        height: 700px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 1030px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 1060px)
  {
    
    .container-cards{
        height: 720px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 1060px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 1090px)
  {
    
    .container-cards{
        height: 740px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

@media screen  
  and (min-device-width: 575px)  
  and (min-device-height: 1090px) 
  and (max-device-width: 3500px)  
  and (max-device-height: 1120px)
  {
    
    .container-cards{
        height: 760px;
        
    }    

    .container-position{
        top: 127px;
        
    }
}

