/* glass mobile vertical----------------------------------*/

@media screen   
  and (min-device-height: 575px)   
  and (max-device-height: 595px)
  {
     .glass-efect{
         top: 300px;
     }
  }

@media screen   
  and (min-device-height: 595px)   
  and (max-device-height: 615px)
  {
     .glass-efect{
         top: 320px;
     }
  }  
  
@media screen   
  and (min-device-height: 615px)   
  and (max-device-height: 660px)
  {
     .glass-efect{
         top: 350px;
     }
  }  

  
  @media screen   
  and (min-device-height: 660px)   
  and (max-device-height: 680px)
  {
     .glass-efect{
         top: 370px;
     }
  }  

@media screen   
  and (min-device-height: 680px)   
  and (max-device-height: 700px)
  {
     .glass-efect{
         top: 390px;
     }
  }  

  @media screen   
  and (min-device-height: 700px)   
  and (max-device-height: 720px)
  {
     .glass-efect{
         top: 410px;
     }
  }
  
  @media screen   
  and (min-device-height: 720px)   
  and (max-device-height: 740px)
  {
     .glass-efect{
         top: 430px;
     }
  }  

  @media screen   
  and (min-device-height: 740px)   
  and (max-device-height: 760px)
  {
     .glass-efect{
         top: 450px;
     }
  }  

  @media screen   
  and (min-device-height: 760px)   
  and (max-device-height: 780px)
  {
     .glass-efect{
         top: 470px;
     }
  }  

  @media screen   
  and (min-device-height: 780px)   
  and (max-device-height: 800px)
  {
     .glass-efect{
         top: 490px;
     }
  }  

@media screen   
  and (min-device-height: 800px)   
  and (max-device-height: 820px)
  {
     .glass-efect{
         top: 500px;
     }
  }  

  @media screen   
  and (min-device-height: 820px)   
  and (max-device-height: 840px)
  {
     .glass-efect{
         top: 510px;
     }
  }  

  @media screen   
  and (min-device-height: 840px)   
  and (max-device-height: 860px)
  {
     .glass-efect{
         top: 530px;
     }
  }  

  @media screen   
  and (min-device-height: 860px)   
  and (max-device-height: 880px)
  {
     .glass-efect{
         top: 550px;
     }
  }  

  @media screen   
  and (min-device-height: 880px)   
  and (max-device-height: 900px)
  {
     .glass-efect{
         top: 570px;
     }
  }  

  @media screen   
  and (min-device-height: 900px)   
  and (max-device-height: 920px)
  {
     .glass-efect{
         top: 590px;
     }
  }  

  @media screen   
  and (min-device-height: 920px)   
  and (max-device-height: 940px)
  {
     .glass-efect{
         top: 610px;
     }
  }  

  @media screen   
  and (min-device-height: 940px)   
  and (max-device-height: 960px)
  {
     .glass-efect{
         top: 630px;
     }
  }  

  @media screen   
  and (min-device-height: 960px)   
  and (max-device-height: 980px)
  {
     .glass-efect{
         top: 650px;
     }
  }  

  @media screen   
  and (min-device-height: 980px)   
  and (max-device-height: 1000px)
  {
     .glass-efect{
         top: 670px;
     }
  }  

  @media screen   
  and (min-device-height: 1000px)   
  and (max-device-height: 1020px)
  {
     .glass-efect{
         top: 690px;
     }
  }  

  @media screen   
  and (min-device-height: 1020px)   
  and (max-device-height: 1040px)
  {
     .glass-efect{
         top: 710px;
     }
  }  

  @media screen   
  and (min-device-height: 1040px)   
  and (max-device-height: 1060px)
  {
     .glass-efect{
         top: 730px;
     }
  }  

  @media screen   
  and (min-device-height: 1060px)   
  and (max-device-height: 1080px)
  {
     .glass-efect{
         top: 750px;
     }
  }  

  @media screen   
  and (min-device-height: 1080px)   
  and (max-device-height: 1100px)
  {
     .glass-efect{
         top: 770px;
     }
  }  

  @media screen   
  and (min-device-height: 1100px)   
  and (max-device-height: 1120px)
  {
     .glass-efect{
         top: 790px;
     }
  }  

  @media screen   
  and (min-device-height: 1120px)   
  and (max-device-height: 1140px)
  {
     .glass-efect{
         top: 810px;
     }
  }  

  @media screen   
  and (min-device-height: 1140px)   
  and (max-device-height: 1160px)
  {
     .glass-efect{
         top: 830px;
     }
  }  

  @media screen   
  and (min-device-height: 1160px)   
  and (max-device-height: 1180px)
  {
     .glass-efect{
         top: 850px;
     }
  }  

  @media screen   
  and (min-device-height: 1180px)   
  and (max-device-height: 1200px)
  {
     .glass-efect{
         top: 870px;
     }
  }  

  @media screen   
  and (min-device-height: 1200px)   
  and (max-device-height: 1220px)
  {
     .glass-efect{
         top: 890px;
     }
  }  

  @media screen   
  and (min-device-height: 1220px)   
  and (max-device-height: 1240px)
  {
     .glass-efect{
         top: 910px;
     }
  }  

  @media screen   
  and (min-device-height: 1240px)   
  and (max-device-height: 1260px)
  {
     .glass-efect{
         top: 930px;
     }
  }  

@media screen   
  and (min-device-height: 1260px)   
  and (max-device-height: 1280px)
  {
     .glass-efect{
         top: 950px;
     }
  }  

  @media screen   
  and (min-device-height: 1280px)   
  and (max-device-height: 1300px)
  {
     .glass-efect{
         top: 970px;
     }
  }  

  @media screen   
  and (min-device-height: 1300px)   
  and (max-device-height: 1320px)
  {
     .glass-efect{
         top: 990px;
     }
  }  

  @media screen   
  and (min-device-height: 1320px)   
  and (max-device-height: 1340px)
  {
     .glass-efect{
         top: 1010px;
     }
  }  

  @media screen   
  and (min-device-height: 1340px)   
  and (max-device-height: 1360px)
  {
     .glass-efect{
         top: 1030px;
     }
  }  

@media screen   
  and (min-device-height: 1360px)   
  and (max-device-height: 1380px)
  {
     .glass-efect{
         top: 1050px;
     }
  }  

  @media screen   
  and (min-device-height: 1380px)   
  and (max-device-height: 1400px)
  {
     .glass-efect{
         top: 1070px;
     }
  }  

  @media screen   
  and (min-device-height: 1400px)   
  and (max-device-height: 1420px)
  {
     .glass-efect{
         top: 1090px;
     }
  }  

  @media screen   
  and (min-device-height: 1420px)   
  and (max-device-height: 1440px)
  {
     .glass-efect{
         top: 1110px;
     }
  }  

  @media screen   
  and (min-device-height: 1440px)   
  and (max-device-height: 1460px)
  {
     .glass-efect{
         top: 1130px;
     }
  }  

@media screen   
  and (min-device-height: 1460px)   
  and (max-device-height: 1480px)
  {
     .glass-efect{
         top: 1150px;
     }
  }  

  @media screen   
  and (min-device-height: 1480px)   
  and (max-device-height: 1500px)
  {
     .glass-efect{
         top: 1170px;
     }
  }  

  @media screen   
  and (min-device-height: 1500px)   
  and (max-device-height: 1520px)
  {
     .glass-efect{
         top: 1190px;
     }
  }  

  @media screen   
  and (min-device-height: 1520px)   
  and (max-device-height: 1540px)
  {
     .glass-efect{
         top: 1210px;
     }
  }  

  @media screen   
  and (min-device-height: 1540px)   
  and (max-device-height: 1560px)
  {
     .glass-efect{
         top: 1230px;
     }
  }  


/* glass mobile horizontal----------------------------------*/
  
  @media screen   
  and (min-device-height: 266px)   
  and (max-device-height: 360px)  
  {
    .glass-efect{
      top: 160px;
      padding: 34px;
    }
  }
  
  @media screen   
  and (min-device-height: 320px)   
  and (max-device-height: 360px)  
  {
    .glass-efect{
      top: 170px;
      
    }
  }

 @media screen   
  and (min-device-height: 360px)   
  and (max-device-height: 370px)  
  {
    .glass-efect{
      padding: 34px;
      top: 190px;
      
    }
  }


 @media screen   
  and (min-device-height: 370px)   
  and (max-device-height: 380px)  
  {
    .glass-efect{
      padding: 34px;
      top: 200px;
      
    }
  }



 @media screen   
  and (min-device-height: 380px)   
  and (max-device-height: 390px)  
  {
    .glass-efect{
      padding: 34px;
      top: 210px;
      
    }
  }



 @media screen   
  and (min-device-height: 390px)   
  and (max-device-height: 400px)  
  {
    .glass-efect{
      padding: 34px;
      top: 220px;
      
    }
  }

  
 @media screen   
  and (min-device-height: 400px)   
  and (max-device-height: 410px)  
  {
    .glass-efect{
      padding: 34px;
      top: 230px;
      
    }
  }



 @media screen   
  and (min-device-height: 410px)   
  and (max-device-height: 420px)  
  {
    .glass-efect{
      padding: 34px;
      top: 240px;
      
    }
  }

  
 @media screen   
  and (min-device-height: 420px)   
  and (max-device-height: 430px)  
  {
    .glass-efect{
      padding: 34px;
      top: 250px;
      
    }
  }

@media screen   
  and (min-device-height: 430px)   
  and (max-device-height: 440px)  
  {
    .glass-efect{
      padding: 44px;
      top: 260px;
      
    }
  }

@media screen   
  and (min-device-height: 440px)   
  and (max-device-height: 450px)  
  {
    .glass-efect{
      padding: 44px;
      top: 270px;
      
    }
  }

@media screen   
  and (min-device-height: 450px)   
  and (max-device-height: 460px)  
  {
    .glass-efect{
      padding: 44px;
      top: 280px;
      
    }
  }

@media screen   
  and (min-device-height: 460px)   
  and (max-device-height: 470px)  
  {
    .glass-efect{
      padding: 44px;
      top: 290px;
      
    }
  }

  @media screen   
  and (min-device-height: 470px)   
  and (max-device-height: 480px)  
  {
    .glass-efect{
      padding: 44px;
      top: 300px;
      
    }
  }

  @media screen   
  and (min-device-height: 480px)   
  and (max-device-height: 490px)  
  {
    .glass-efect{
      padding: 44px;
      top: 310px;
      
    }
  }

  @media screen   
  and (min-device-height: 490px)   
  and (max-device-height: 500px)  
  {
    .glass-efect{
      padding: 44px;
      top: 320px;
      
    }
  }

@media screen   
  and (min-device-height: 500px)   
  and (max-device-height: 520px)  
  {
    .glass-efect{
      top: 260px;
      
    }
  }

@media screen   
  and (min-device-height: 520px)   
  and (max-device-height: 540px)  
  {
    .glass-efect{
      top: 270px;
      
    }
  }


@media screen   
  and (min-device-height: 540px)   
  and (max-device-height: 560px)  
  {
    .glass-efect{
      top: 280px;
      
    }
  }


@media screen   
  and (min-device-height: 560px)   
  and (max-device-height: 580px)  
  {
    .glass-efect{
      top: 290px;
      
    }
  }


   
  
  

  
  

