
.scroll-tech-tree{
  overflow-x: scroll;
  height: 400px;
  margin-bottom: 233px;
}

.scroll-size-height{
  height: 100%;
  
  
  
}


/*mobil vertical-----------------------------------------*/

@media screen   
  and (min-device-height: 575px)   
  and (max-device-height: 630px)
  {
    .scroll-tech-tree{ 
      height: 450px;
      
      
    }
  }

@media screen   
  and (min-device-height: 630px)   
  and (max-device-height: 660px)
  {
    .scroll-tech-tree{
      height: 500px;
      
      
    }
  }


/*mobil horizontal----------------------------------------------------*/  

  @media screen   
  and (min-device-height: 266px)   
  and (max-device-height: 290px)
  {
    .scroll-tech-tree{
      margin-top: -25px;  
      height: 185px;  
    }

    .scroll-size-height{
      height: 400px;
      overflow-y: scroll;
    }
  }

  @media screen   
  and (min-device-height: 290px)   
  and (max-device-height: 314px)
  {
    .scroll-tech-tree{   
      margin-top: -25px;
      height: 210px;  
    }

    .scroll-size-height{
      height: 400px;
      overflow-y: scroll;
    }
  } 
  
  @media screen   
  and (min-device-height: 314px)   
  and (max-device-height: 338px)
  {
    .scroll-tech-tree{   
      margin-top: -25px;
      height: 235px;  
    }

    .scroll-size-height{
      height: 400px;
      overflow-y: scroll;
    }
  } 

  @media screen   
  and (min-device-height: 338px)   
  and (max-device-height: 360px)
  {
    .scroll-tech-tree{   
      margin-top: -25px;
      height: 257px;  
    }

    .scroll-size-height{
      height: 400px;
      overflow-y: scroll;
    }
  } 



