:root {
    --border-size: 0.3rem;
    --duration: 250ms;
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --font-family: UnifrakturCook-Bold;
    --color-primary: white;
    --color-secondary: black;
    --color-tertiary: dodgerblue;
    --shadow: rgba(0, 0, 0, 0.1);
    --space: 0.5px;
  }
  
  * {
    box-sizing: border-box;
  }
   
  .multi-button {
    display: flex;
    width: 100%;
    box-shadow: var(--shadow) 4px 4px;
  }
  
  .multi-button button {
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    padding:
      calc(var(--space) / 1.125)
      var(--space)
      var(--space);
    border: var(--border-size) solid black;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-size: 1.9rem;
    font-family: var(--font-family);
    text-transform: lowercase;
    text-shadow: var(--shadow) 2px 2px;
    transition: flex-grow var(--duration) var(--ease);
  }
  
  .multi-button button + button {
    border-left: var(--border-size) solid black;
    margin-left: calc(var(--border-size) * -1);
  }
  
  
  .multi-button button:hover,
  .multi-button button:focus { 
    flex-grow: 2;
    color: white;
    outline: none;
    text-shadow: none;
    background-color: rgb(43, 110, 197)
  }
  
  
  .multi-button button:active {
    transform: translateY(var(--border-size));
  }

  .margin-bottom{
    margin-bottom: 41px; 
  }