.size-img-tech-tree{
    width: 3000px;
    height: 100%;
  }

  .effectTechTree{
    animation: effectTechTree 6s;
    }
    
    @keyframes effectTechTree{
        0%{
             transform: scale(0);
            
        }
        100%{
             transform: scale(1);
        }
    }  

 