@font-face{
  font-family: "UnifrakturCook-Bold";
  src: url(/src/Fonts/UnifrakturCook-Bold.ttf);
}

*{
  
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
  margin: 0; 
}

img{
  display: block;
  width: 100%;
  max-height: 100%; 
}

.containeer{
  width: 100%;
  margin: auto; 
}

.flexbo{
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}


.glass-efect{ 
  position: absolute;
  top: 370px;
  padding: 85px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  color: #000;
  transform: scale(1);
  transition: all 0.4s ease-in;


}

.glass-efect:before{ 
  content: ' ' ;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: url('componentes/bac2.jpg'); 
  background-attachment: fixed; 
  background-size: cover;
  background-position: center center;
  filter: blur(6px);
  
}

.animation-turnOff-light{ 
  width: 100%;
  min-height: 100vh; 
  position: fixed; 
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  animation: animation-turnOff-light 3s;
}




@keyframes animation-turnOff-light{
  0%{
    z-index: 99999999;
    background: rgba(0, 0, 0, 0.1); 
  }
  5%{
    z-index: 99999999;
    background: rgba(0, 0, 0, 0.2); 
  }
  10%{
    z-index: 99999999;
    background: rgba(0, 0, 0, 0.3); 
  }
  15%{
    z-index: 99999999;
    background: rgba(0, 0, 0, 0.4); 
  }
  20%{
    z-index: 99999999;
    background: rgba(0, 0, 0, 0.5); 
  }
  25%{
    z-index: 99999999;
    background: rgba(0, 0, 0, 0.6); 
  }
  35%{
    z-index: 99999999;
    background: rgba(0, 0, 0, 0.7); 
  }
  40%{
    background: rgba(0, 0, 0, 0.8); 
  }
  45%{
    background: rgba(0, 0, 0, 0.9); 
  }
  50%{
    background: rgba(0, 0, 0, 0.973); 
  }
  55%{
    background: rgba(0, 0, 0, 0.973); 
  }
  60%{
    background: rgba(0, 0, 0, 0.973); 
  }
  65%{
    background: rgba(0, 0, 0, 0.8); 
  }
  70%{
    background: rgba(0, 0, 0, 0.7); 
  }
  75%{
    background: rgba(0, 0, 0, 0.6); 
  }
  80%{
    background: rgba(0, 0, 0, 0.5); 
  }
  85%{
    background: rgba(0, 0, 0, 0.4); 
  }
  90%{
    background: rgba(0, 0, 0, 0.3); 
  }
  95%{
    background: rgba(0, 0, 0, 0.2); 
  }
  100%{
    background: rgba(0, 0, 0, 0.1); 
  }
}

.effect-description{
  animation: effect-description 2s;
  }
  
  @keyframes effect-description{
      0%{
           opacity: 0%;
          
      }
      100%{
          opacity: 100%;
      }
  }

